In [1]:
# https://www1.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_manhattan.xls

In [2]:
import pandas as pd

In [13]:
xls_path = 'https://www1.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_manhattan.xls'
df = pd.read_excel(xls_path)

In [31]:
df.columns =[
        'borough', 'neighborhood', 'building_class_cat',
        'tax_class_pres', 'block', 'lot', 'easement', 'building_class_pres',
        'address', 'apt_num', 'zipcode', 'residential_units', 'commercial_units',
        'total_units', 'land_sq_ft', 'gross_sq_ft', 'year_built',
        'tax_class_sale', 'building_class_sale', 'sale_price', 'sale_date'
    ]
df = df[4:]
orig_df = df.copy()

In [32]:
len(df)

16871

,borough,neighborhood,building_class_cat,tax_class_pres,block,lot,easement,building_class_pres,address,apt_num,...,residential_units,commercial_units,total_units,land_sq_ft,gross_sq_ft,year_built,tax_class_sale,building_class_sale,sale_price,sale_date
16874,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1010,NaN,RK,4260 BROADWAY,COM10,...,NaN,NaN,NaN,NaN,1218,0,4,RK,0,2018-08-03 00:00:00
16875,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1011,NaN,RK,4260 BROADWAY,COM11,...,NaN,NaN,NaN,NaN,522,0,4,RK,0,2018-08-03 00:00:00
16876,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1012,NaN,RK,4260 BROADWAY,COM12,...,NaN,NaN,NaN,NaN,1025,0,4,RK,0,2018-08-03 00:00:00
16877,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1013,NaN,RK,4260 BROADWAY,COM13,...,NaN,NaN,NaN,NaN,1061,0,4,RK,0,2018-08-03 00:00:00
16878,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1014,NaN,RK,4260 BROADWAY,COM14,...,NaN,NaN,NaN,NaN,2095,0,4,RK,0,2018-08-03 00:00:00